@font-face {
    font-family: fontastique;
    src: url(../styles/font/fontastique.ttf);
}

/* page container */
.about-container {
    margin-top: 150px;
    margin-bottom: 180px;
}

/* alessandra's name */
.alessandra {
    font-size: 0.9em;
}

/* main title */
.about-title {
    font-size: 45px;
    color: steelblue !important;
    text-align: center;
    font-family: fontastique !important;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}

/* under main title */
.under-title {
    padding-bottom: 40px !important;
}

/* "fetch" on fetchMate name */
.fetch {
    color: #0f8cd1;
    text-transform: lowercase;
}

/* "mate" on fetchMate name */
.mate {
    color: #158467;
    text-transform: capitalize;
}

/* icons under the description */
.envelope-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
    color: #0f8cd1;
    transform: translateY(-2px);
}