/* page container */
.container-page-chat {
    min-height: 100vh; /* to keep footer on the bottom */
}

/* make the other user message display on the right side */
.another-user pre{
    width: 100%;
    text-align: right !important;
}

/* type a message box */
.form-chat {
    padding: 0 !important;
    margin: 0 !important;
}

/* inside the box */
.input-message {
    height: 60px !important;
}

/* page main title */
.chat-title {
    font-size: 45px;
    color: steelblue;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}


/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .chat-title {
        font-size: 25px;
    }

    .container-page-chat {
        margin-bottom: 120px;
        margin-top: 50px !important;
    }
}