.contributing-container {
    margin-top: 180px;
    margin-bottom: 150px;
}

.contributing-col {
    margin-top: 80px;
}

.card-body-contributing {
    box-shadow: none !important;
    background-color: transparent !important;
}

.contributing-title  {
    font-size: 45px;
    color: steelblue;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}