/* conatiner */
.contact-page-container {
    min-height: 100vh;
   padding-bottom: 150px !important;
   padding-top: 100px;
}

/* page main title */
.contact-title {
    font-family: fontastique !important;
    font-size: 50px;
    letter-spacing: 3px;
    color: #065c6f !important;
}

/* buttons under the map */
button.button-location {
    border-radius: 50%;
    padding: 15px;
}

/* icons under the map */
.map-marker-icon {
    font-size: 20px;
}

/* location and email under the map */
.location-name {
    color: #065c6f !important;
    font-size: 15px;
    font-weight: bold !important;
}

/* email under the map */
.location-name a {
    color: #065c6f !important;
}
