/* page container */
.contributing-container {
    margin-top: 180px;
    margin-bottom: 150px;
}

/* page main title */
.contributing-title  {
    font-size: 45px;
    color: steelblue;
    padding-bottom: 30px;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}

/* column with the project card */
.contributing-col {
    margin-top: 80px;
}

/* card with profile pic and user info */
.card-body-contributing {
    box-shadow: none !important;
    background-color: transparent !important;
}