* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}



/* img.rounded-circle {
    width: max(100px, min(235px, 44vw));
    height: max(100px, min(235px, 44vw));
} */

/* skills main title under the user profile pic */
h3.card-title {
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500 !important;
}

/* edit profile button */
button.edit-button {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #30B0F8;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #4285f4;
    font-weight: 500;
    outline: none;
}

/* edit profile button */
button.edit-button.btn {
    padding: 0.4em !important;
    outline: none;
}


/* .card-body1 aside {
    z-index: 0;
} */

/* red background pending projects card */
.card-body-pending1 {
    padding: 0 !important;
    background-color: red !important;
    margin-bottom: 20em;
}

/* pending project card */
.card-body-pending2 {
    padding: 15px !important;
    width: 97%;
}

/* green background my projects card */
.card-body-projects1 {
    padding: 0 !important;
    background-color: #61b15a !important;
}

/* my projects card */
.card-body-projects2 {
    padding: 15px !important;
    width: 97%;
}

/* yellow background contributing projects card */
.card-body-contributing1 {
    padding: 0 !important;
    background-color: #fecd1a !important;
}

/* contributing projects card */
.card-body-contributing2 {
    padding: 15px !important;
    width: 97%;
}

/* publish a new project button */
button.publish-button {
    width: auto;
    display: flex;
    float: right;
    border-radius: 5px;
    background-color: #61b15a;
    border: 1px white solid;
    color: white;
    font-weight: 500;
    margin-top: 0 !important;
    outline: none;
}

/* edit icon */
.edit-card {
    border: none;
    background: none;
}

/* trash icon */
.delete-card {
    border: none;
    background: none;
}

/* column with the projects card */
.projects-col {
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* projects section title */
.title-cards {
    padding-top: 1.5em;
    font-family: fontastique;
    margin-bottom: 15px;
    color: steelblue !important;
}

/* project title inside the card */
.project-title {
    text-transform: capitalize;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: black !important;
}

/* all icons inside the card */
.icon {
    position: relative;
    display: inline-block;
    margin-right: 0 !important ;
    padding: 0 ;
    text-align: center;
}

/* all icons inside the card */
.icon-width {
    width: 56px !important;
}

/* span all icons inside the card */
.icon span {
    position: relative;
    color: #4285f4;
    text-align: center;
    display: block;
    margin: 0 !important;
    opacity: 0;
    transition: 0.6s opacity;
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 0 !important;
}

/* icons legend */
.icon span:before {
    content: '';
    position: absolute;
    top: -6px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

/* icons legend on hover */
.icon:hover > span {
    opacity: 1;
}

/* skills under the user profile pic */
.skills-dashboard {
    border: 1px solid #30B0F8;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 4px;
    font-weight: 400;
    margin: 2px;
    display: -webkit-inline-box;
    font-size: 15px;    
}

/* update profile picture camera icon under the picture */
button.camera-button {
    border: none;
    background: none;
    cursor: pointer;
    float: right;
    outline: none !important;
    margin-left: 25px;
}

/* wrapping camera icon and picture */
.image-and-camera {
    display: inline-grid;
}

/* type=file upload picture */
.input#newProfilePic {
  visibility: visible;
  display: contents;
}

/* icon inside the modal */
.input-block-update input[type=file] {
    visibility: hidden;
    display: none;
}

/*  sentence under the skills title when there is no skill */
.add-skills {
    color: grey !important;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

/* form inside modal to update project */
form.form-update-project {
    margin-bottom: 0 !important;
}


/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .projects-col {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    img.rounded-circle.hoverable.border.border-info {
        margin-left: 100px !important;
    }

    button.edit-button {
        width: 60%;
    }

    button.camera-button {
        margin-left: 2px;
    }

    .icon span {
        width: 20px !important;
    }
   
    .form-title {
        font-size: 28px !important;
    }

    /* project form profile pic */
    img.rounded-circle.hoverable.border.border-info.project-form-image {
        border: 5px solid #33b5e5!important;
        width: max(100px, min(235px, 44vw));
        height: max(100px, min(235px, 44vw));
        margin-left: 0px !important;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    img.rounded-circle.hoverable.border.border-info {
        border: 5px solid #33b5e5!important;
        width: max(40px, min(135px, 50vw)) !important ;
        height: max(40px, min(135px, 50vw)) !important;
    }

    .projects-col {
        margin-left: 20px !important;
    }

    .card-profile {
        padding-top: 100px;
    }
    
}