* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
}

#top h1 {
    margin-top: 1em;
}