.footer {
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% ); */
    background-color: rgba(145,192,241,1);
    background-image: url(../images/Frame3.svg);
    background-size: cover;
  }
  
  .footer a {
    font-size: 17px;
  }
  
  .fa-twitter {
    color: #1DA1F2;
  }
  
  .fa-linkedin {
    color: #0072b1;
  }
  
  .fa-discord {
    color: #7289d9;
  }
  
  .fa-map-marker-alt {
    color: red;
  }
  
  .fa-envelope {
    color: white;
  }
  
  .fa-chevron-right {
    color: teal;
  }
  
  .list-unstyled {
    font-weight: 300;
  }
  
  .footer .title {
    color: white;
    font-weight: bold;
  }
  
  .footer  p {
    color: white;
  }
@media screen and (max-width: 767px){
.img-footer {
  max-width: 25% !important;
  }
  .logo-footer {
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 768px){
  .img-footer {
    max-width: 50% !important;
    }
    .logo-footer {
      margin-left: 3rem !important;
  }
}