* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

/* page column */
.interested-col {
    margin-top: 80px;
}

/* accept button */
button.accept {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding: 13px;
    outline: none;
    border: 1px solid white;
}

/* decline button */
button.decline {
    background-color: #ec0101;
    color: white;
    border-radius: 4px;
    padding: 13px;
    outline: none;
    border: 1px solid white;
}

/* remove member button */
button.remove-member {
    background-color: #ec0101;
    color: white;
    border-radius: 4px;
    outline: none;
    border: 1px solid white;
    width: 100%;
    text-align: center;
}


/* team members container */
.team-members-container {
    margin-bottom: 150px;
    margin-top: 50px;
}

/* page main titles */
.interested-titles {
    font-size: 45px;
    color: steelblue;
    padding-top: 20px;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}

/* project overview container */
.project-overview-container {
    margin-top: 80px;
}

/* first and last name */
.card-title-interested {
    font-size: 1.2em;
}

/* profile picture interested/profile overview page*/
img.rounded-circle.interested-image  {
    border: 5px solid #33b5e5!important;
    width: max(100px, min(235px, 44vw));
    height: max(100px, min(235px, 44vw));
    object-fit: cover;
    display: flex;
    justify-self: center;
} 

.commentForEmpty{
    text-align: center; 
}

/* Media Query For Iphone */
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 667px) { 
   
    .interested-titles {
        font-size: 35px !important;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    button.decline {
        padding: 8px;
    }

    button.accept {
        padding: 8px;
    }
    
}