* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.interested-col {
    margin-top: 80px;
}

button.accept {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding: 13px;
    outline: none;
    margin-left: 55px;
    border: 1px solid white;
}

button.decline {
    background-color: #ec0101;
    color: white;
    border-radius: 4px;
    padding: 13px;
    outline: none;
    border: 1px solid white;
}

button.remove-member {
    padding: 20px;
    background-color: #ec0101;
    color: white;
    border-radius: 4px;
    outline: none;
    border: 1px solid white;
}

.team-members-container {
    margin-bottom: 150px;
    margin-top: 50px;
}

/* main titles */
.interested-titles {
    font-size: 45px;
    color: steelblue;
    padding-top: 20px;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}

.project-overview-container {
    margin-top: 80px;
}

/* first and last name */
.card-title-interested {
    font-size: 1.2em;
}

/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    button.accept {
        
        margin-left: 85px !important;
    }

    button.remove-member {
        margin-left: 30px;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    button.decline {
        padding: 8px;
    }

    button.accept {
        padding: 8px;
        margin-left: 0 !important;
    }
    
}