@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background-image: url(../images/Frame3.svg);
 
}

#first-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#first-section aside {
  width: 50%;
  background-image: url(../images/Frame3.svg);
  background-color: rgba(145,192,241,1);
 /* background-image: linear-gradient(-225deg, #2CD8D5 0%,  56%, #FFBAC3 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#first-section h1 {
  color: white;
  font-weight: bold;
}

#first-section h2 {
  color: white;
  text-align: center;

}

form.login-form {
  width: 500px;
  margin: auto;
  /* background: #ffffff; */
  border: 1px solid #d3e2e5;
  /* border-radius: 20px; */
  padding: 64px 80px;
  overflow: hidden;
  /* background-color: rgba(46, 140, 140, 2);
  color: rgba(46, 138, 138, 2); */
  background-color: rgba(46, 138, 138, 0.4); 
  color: rgba(46, 138, 138, 0.4);
  border-radius: 0;
}

form.login-form .input-block input,
form.login-form .input-block textarea {
  width: 100%;
  background-color: rgba(46, 138, 140, 0.1);
  border: 1px solid #d3e2e5;
  border-radius: 0;
  outline: none;
  color: white;
}

form.login-form .input-block input {
  height: 40px;
  padding: 0 16px;
}

form.login-form .login-legend {
  border: none;
  margin-bottom: 0;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 800;
}

form.login-form .input-block label {
  display: flex;
  color: white;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 18px;
  margin-top: 18px;
  font-weight: bold;
}

button.login-button {
  margin-top: 44px;
  width: 100%;
  height: 50px;
  border: 0;
  cursor: pointer;
  background: #36cf82;
  /* border-radius: 20px; */
  color: #ffffff;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  font-size: 1em;
}

form.login-form .forgot-password {
  color: white;
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid #d3e2e5;
  padding-bottom: 25px;
}

button.newAccount-button {
  font-size: 1em;
  margin-top: 44px;
  width: 100%;
  height: 50px;
  border: 0;
  cursor: pointer;
  background: #1877f2;
  color: #ffffff;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

#first-section h1 {
font-size: 40px;
}

#first-section-login {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#first-section-login aside {
  width: 100%;
  height: 100vh;
  background-image: url(../images/working.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-section {
  width: 100vw;
  height: 70vh;
  position: relative;
  display: block;
  /* background-image: url(../images/Frame3.svg);
  background-size: cover; */
}

.second-section h1 {
  font-weight: bold;
  margin-top: 25em;
}

.second-section p {
  font-size: 18px;
}

.text-center {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

