.navbar {
    height: 80px;
    background-color: rgba(145,192,241,1);
    background-image: url(../images/Frame3.svg);
    box-shadow: none !important;
} 

.navbar-dark .navbar-brand {
    width: auto;
}

.navbar-nav a {
    padding: 15px;
    color: white;
    font-weight: bold;
    display: block;
    outline: none !important;
}

.navbar-nav a:hover {
    color: #0056b3 !important;
}

.navbar .dropdown-menu a:not(.active) {
    color: steelblue !important;
    font-weight: bold;
    
}

.dropdown-item:hover {
    background-color: lightcyan !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #0056b3 !important;
}


/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .navbar .nav-item .nav-link {
        color: steelblue;
        background-color: rgba(145,192,241,1);
        background-image: url(../images/Frame3.svg);
    }

    .navbar-nav a{
        background-color: rgba(145,192,241,1);
        background-image: url(../images/Frame3.svg);
        padding-bottom: 0;
       
    }

    .navbar .nav-item .nav-link {
        padding-right: 6px;
        padding-left: 14px !important;
    }  
}


