.p {
    text-align: justify;
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.policy-title {
    font-family: fontastique;
    color: #065c6f !important;
    font-size: 50px;
    padding-top: 80px;
}

.policy-date {
    font-size: 20px;
    font-style: italic;
}

.h4 {
    font-weight: lighter !important;
    text-align: justify;
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.span {
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    margin-top: 30px;
}

.h2 {
    margin-top: 40px;
}

.last-statement {
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 150px;
}


/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .faq-title {
        font-size: 30px;
        padding-top: 120px;
    }

    #section1 {
        height: 30vh;
    }

    .policy-title {
        font-size: 35px;
        text-align: center;
        padding-top: 10px;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    .policy-title {
        font-size: 35px;
        text-align: center;
        padding-top: 10px;
    }

    .faq-title {
        font-size: 30px;
        padding-top: 160px;
    }

    #section1 {
        height: 30vh;
    }
}
