.p {
    text-align: justify;
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.policy-title {
    font-family: fontastique;
    color: #065c6f !important;
    font-size: 50px;
    padding-top: 80px;
}

.policy-date {
    font-size: 20px;
    font-style: italic;
}

.h4 {
    font-weight: lighter !important;
    text-align: justify;
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.span {
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    margin-top: 30px;
}

.h2 {
    margin-top: 40px;
}

.last-statement {
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 150px;
}