@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: fontastique;
    src: url(../styles/font/fontastique.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

#top {
    width: 100vw;
    min-height: 100vh;
    /* background-image: url(../images/Frame3.svg); */
    position: relative;
    display: flex;
}


/* input form */
.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #4285f4;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: white;
}

/* placeholder form */
.input-group.md-form.form-sm.form-1 ::placeholder {
    color: #8fa7b3;
    font-style: italic;
    font-size: 14px;
}

/* search icon */
.md-form.input-group .input-group-text {
    background-color: #4285f4 !important;
}

/* form input border */
.form-control {
    /* background: #f5f8fa !important; */
    border-color: #4285f4 !important;
}

/* create new skill button */
button.new-skill-button  {
    text-transform: uppercase;
    height: 35px;
    font-size: .81rem;
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    padding: .84rem 0.6rem;
    background: #4285f4;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;
}

/* trash icon (remove skill) */
button.remove-skill-button{
    border: none;
    background: none;
    margin-left: 9px;
    cursor: pointer;
    outline: none;
}

/* span skill + trash icon */
.skill-remove-button {
    border: 1px solid #30B0F8;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 8px;
    font-weight: 400;
    margin: 2px;
    display: -webkit-inline-box;
    color: #6B6B6B;
    cursor: pointer;
    background-color: white;
    outline: none;
}

/* skillbar label */
.label-skillbar {
    font-size: 16px;
    margin-bottom: -12px;
    cursor: pointer;
    color: black;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
}

/* regular input label */
.labe-headline {
    color: black;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

/* form padding */
form {
    padding: 34px 80px;
    margin-bottom: 150px;
}

/* complete your profile container */
.container-form {
    margin-left: 80px;
    box-shadow: none !important;
    margin-top: 160px;
}

/* complete your profile card */
.card-complete-profile {
    box-shadow: none !important;
    background-color: transparent !important;
    margin-top: 50px;
}

/* user profile info */
.card-profile {
    box-shadow: none !important;
    background-color: transparent !important;
    margin-top: 150px;
   
}

/* name and email */
h4.card-title {
    font-size: 0.9em;
    cursor: pointer;
}


/* complete your profile title */
.form-title {
    font-size: 40px;
    color: steelblue;
    text-align: center;
    font-family: fontastique;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
}

/* profile image */
.img-fluid {
    border-radius: solid black 2px;
    cursor: pointer;
}

/* profile image */
img.rounded-circle.hoverable.border.border-info.interested-image {
    border: 5px solid #33b5e5!important;
    width: max(100px, min(235px, 44vw));
    height: max(100px, min(235px, 44vw));
    margin-left: 20px;
}

img.rounded-circle.interested-image  {
    width: max(100px, min(235px, 44vw));
    height: max(100px, min(235px, 44vw));
    margin-left: 20px;
}

/* projectForm page datepicker input */
.react-datepicker__input-container input {
    border: 1px solid #4285f4 !important;
    border-radius: 4px;
    padding:  6px 12px;
}

.md-form.md-outline .form-control {
    border-radius: 4px;
}

/* form inside modal to update pic */
.form-update-pic {
    margin-bottom: 0 !important;
}


/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .container-form {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .container-form {
        margin-left: 0 !important;
       
    }
    
}

/* BLUE AND GREEN TRANSPARENT RGBA  */
/* background-color: rgba(46, 138, 237, 0.2); 
color: rgba(46, 138, 237, 0.5); */
/* background-color: rgba(46, 138, 138, 0.2); 
  color: rgba(46, 138, 138, 0.4); */