* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

/* I wanto be part of this project button */
button.participate-button {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1.2em;
    outline: none;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* you applied to this project button */
button.inactive-applied{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background:#839b97;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1.2em;
    outline: none;
}

/* you were declined for this project button */
button.inactive-declined{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background:#a20a0a;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1.2em;
    outline: none;
}


/* you are in this project button */
button.inactive-in {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1.2em;
    outline: none;
}

/* you own this project button */
button.inactive-own{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1.2em;
    outline: none;
}

/* cancel application button */
button.cancel-application {
    float: right;
    border-radius: 4px;
    background-color: #a20a0a;
    color: white;
    padding: 7px !important;
    outline: none;
    border: 1px solid white;
}

button.cancel-application:hover {
    color: skyblue;
}


/* page container */
.projects-container {
    margin-bottom: 150px;
}

/* skills inside the card */
.all-projects-skills {
    border: 1px solid #4285f4 ;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    display: -webkit-inline-box;
    color: dimgray;
}

/* skills title inside the card */
.all-prjects-skills-title {
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
}

/* icon in the card projects */
.icon {
    position: relative;
    display: inline-block;
    margin-right: 0 !important ;
    padding: 0 ;
    text-align: center;
}

.icon-all-projects-width {
    width: auto!important;
}


.icon span {
    position: relative;
    color: #4285f4;
    text-align: center;
    display: block;
    margin: 0 !important;
    opacity: 0;
    transition: 0.6s opacity;
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 0 !important;
}

.icon span:before {
    content: '';
    position: absolute;
    top: -6px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.icon:hover > span {
    opacity: 1;
}

/* border on the cards */
.card-body-all-projects1 {
    padding: 0 !important;
    background-color: #0e49b5!important;
}

.card-body-all-projects2 {
    padding: 15px !important;
    width: 97%;
}

/* page main title */
.all-projects-title {
    font-size: 45px;
    color: steelblue !important;
    text-align: center;
    font-family: fontastique !important;
    letter-spacing: 3px;
    font-weight: revert;
    text-transform: uppercase;
    padding-top: 160px;
}

/* project title */
.project-title  {
    text-transform: capitalize;
    font-weight: 400 !important;
    font-size: 25px !important;
    color: black !important;
}

.project-title a {
    color: black !important;
}

/* Media Query For Iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .card-link+.card-link {
        margin-left: 0.70rem !important;
    }

    .avatar-card {
        text-align: left !important;
    }

    .chat-title {
        padding-top: 120px;
    }
}

/* Media Query For Tablet */
@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 1024px) {
    .chat-title {
        padding-top: 160px;
    }

    .avatar-card {
        text-align: left !important;
    }
    
}